@tailwind base;
@tailwind components;
@tailwind utilities;

.shape1 {
  clip-path: polygon(76% 0, 100% 0%, 29% 100%, 0 100%);
}

.shape2 {
  clip-path: polygon(62% 0, 100% 0%, 40% 100%, 0% 100%);
}
.shape3 {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.shape-team {
  clip-path: polygon(0 78%, 100% 61%, 100% 100%, 0% 100%);
}

@keyframes moveLeft {
  0%,
  100% {
    transform: translateX(0) translateY(-25%);
  }
  50% {
    transform: translateX(-25%) translateY(-25%);
  }
}

@keyframes moveVertical {
  0%,
  100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
}

.move-vertical-animation {
  animation: moveVertical 6s ease-in-out infinite;
}
.move-left-animation {
  animation: moveLeft 4s ease-in-out infinite;
}

.cardAnimation:hover {
  transform: rotateY(360deg);
  transition: 2s all ease-in;
}

.pointer-shape {
  width: 180px;
  height: 40px;
  position: relative;
  background: rgb(42, 110, 182);
}
.pointer-shape:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #cbd5e1;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer-shape:before {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #cbd5e1;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.logo {
  clip-path: polygon(0 0, 69% 0, 100% 100%, 0% 100%);
}

body {
  padding: 0;
  margin: 0;
}
