@tailwind base;
@tailwind components;
@tailwind utilities;

.shape1 {
  clip-path: polygon(76% 0, 100% 0%, 29% 100%, 0 100%);
}

.shape2 {
  clip-path: polygon(62% 0, 100% 0%, 40% 100%, 0% 100%);
}
.shape3 {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.shape-team {
  clip-path: polygon(0 78%, 100% 61%, 100% 100%, 0% 100%);
}

@keyframes moveLeft {
  0%,
  100% {
    transform: translateX(0) translateY(-25%);
  }
  50% {
    transform: translateX(-25%) translateY(-25%);
  }
}

@keyframes moveVertical {
  0%,
  100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
}

.move-vertical-animation {
  animation: moveVertical 6s ease-in-out infinite;
}
.move-left-animation {
  animation: moveLeft 4s ease-in-out infinite;
}

.cardAnimation:hover {
  transform: rotateY(360deg);
  transition: 2s all ease-in;
}

.pointer-shape {
  width: 180px;
  height: 40px;
  position: relative;
  background: rgb(42, 110, 182);
}
.pointer-shape:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #cbd5e1;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer-shape:before {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #cbd5e1;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZ2IHSeH.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZOIHQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.logo {
  clip-path: polygon(0 0, 69% 0, 100% 100%, 0% 100%);
}

body {
  padding: 0;
  margin: 0;
}
